.news-content {
  margin-bottom: 1.125rem;
  padding-bottom: 2.5rem;
  border-bottom: 1px solid rgba(48, 48, 48, 0.4);
}
.news-content h1,
.news-content h2,
.news-content h3,
.news-content h4,
.news-content h5,
.news-content h6 {
  color: #303030;
  font-family: var(--font-dvn-luckiest-guy);
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.01563rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.news-content h1 {
  font-size: 1.875rem;
}
.news-content h2 {
  font-size: 1.625rem;
}
.news-content h3 {
  font-size: 1.5rem;
}
.news-content h4 {
  font-size: 1.25rem;
}
.news-content h5 {
  font-size: 1rem;
}
.news-content h6 {
  font-size: 0.75rem;
}
.news-content strong {
  font-weight: 800;
}
.news-content p {
  color: #303030;
  font-family: var(--font-trip-sans);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.0025rem;
}
.news-content > * + h1,
.news-content > * + h2,
.news-content > * + h3,
.news-content > * + h4,
.news-content > * + h5,
.news-content > * + h6 {
  margin-top: 2.5rem !important;
}
.news-content p + *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
  margin-top: 1rem;
}
.news-content > * + p:has(img) {
  margin-top: 2.5rem !important;
  margin-bottom: 2.5rem !important;
}
.news-content p:has(img) {
  text-align: center;
}
.news-content a {
  color: #006ce4;
  text-decoration: none;
  font-family: var(--font-trip-sans);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.0025rem;
}
.news-content ul li {
  list-style: disc;
}
.news-content ol li {
  list-style: numeric;
}
.news-content ul,
.news-content ol {
  padding-left: 1.5rem;
}
.news-content ul li,
.news-content ol li {
  color: #303030;
  font-family: var(--font-trip-sans);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.0025rem;
}
.news-content img {
  max-width: 100%;
  height: auto;
  max-height: 80vh;
  object-fit: cover;
}
.news-content thead,
.news-content tbody,
.news-content tfoot,
.news-content tr,
.news-content td,
.news-content th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}
.table-responsive {
  width: 100%;
  overflow-x: auto;
}
.news-content table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  table-layout: auto;
}
.news-content table tr {
  border: 1px solid #ccc;
  padding: 0.35em;
}
.news-content table td,
.news-content table th {
  border: 1px solid #ccc;
  padding: 0.625em;
}
.news-content table td {
  vertical-align: top;
}
.news-content table th {
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}
.summary-list li {
  color: #303030;
  font-family: var(--font-trip-sans);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.0025rem;
  cursor: pointer;
}
.summary-list li:not(:first-child) {
  margin-top: 0.5rem;
}
.tableResponsive {
  width: 100%;
  overflow: auto;
}
@media (max-width: 639.98px) {
  .blog-detail__main-content h1,
  .news-content h2,
  .news-content h3,
  .news-content h4,
  .news-content h5,
  .news-content h6 {
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
  }
  .news-content h1 {
    font-size: 1.5rem;
  }
  .news-content h2 {
    font-size: 1.375rem;
  }
  .news-content h3 {
    font-size: 1.25rem;
  }
  .news-content h4 {
    font-size: 1rem;
  }
  .news-content h5 {
    font-size: 0.875rem;
  }
  .news-content h6 {
    font-size: 0.75rem;
  }
  .news-content strong {
    font-weight: 700;
  }
  .news-content a {
    text-decoration: underline;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.0025rem;
  }
  .news-content p {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.0025rem;
  }
  .news-content ul,
  .news-content ol {
    padding-left: 0.75rem;
  }
  .news-content ul li,
  .news-content ol li {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.0025rem;
  }
  .news-content li {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.0025rem;
  }
  .summary-list li {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.0025rem;
  }
}
